apiVersion: apps/v1
kind: Deployment
metadata:
  name: adapool-stats
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: adapool-stats
  template:
    metadata:
      labels:
        app: adapool-stats
    spec:
      containers:
      - name: adapool-stats
        image: bagl3y/adapool-fetcher:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 9100
---
apiVersion: v1
kind: Service
metadata:
  name: adapool-stats-svc
  namespace: monitoring
  annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: '9100'
spec:
  type: ClusterIP
  selector:
    app: adapool-stats
  ports:
  - name: http
    protocol: TCP
    port: 9100
    targetPort: 9100